html, body {
  width: 100vw;
  height: 100vh;
}

#background {
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  background-image: url('../images/background.jpg');
}

.bg-light-opaque {
  background: rgba(248, 249, 250, 0.6);
}
